@page
@model Chirp.Web.Pages.AboutMeModel
@{
}

@{
    if (!User.Identity?.IsAuthenticated == true)
    {
        RedirectToPage("/");
    }
}

@* 
@foreach (var claim in User.Claims)
{
    <p>@claim.Type: <span style="color: crimson">@claim.Value<span/></p>
} 
*@

<h2>About Me</h2>

<div class="user-info">
    <img src=@Model.Avatar class="claim-img" alt="1">
    <p>
        <span class="label">ID:</span> 
        <span class="">@Model.ID<span/>
    </p>
    <p>
        <span class="label">Username:</span> 
        <span class="">@Model.Username<span/>
    <p>
        <span class="label">Name:</span> 
        <span class="">@Model.Name<span/>
    </p>
    <p>
        <span class="label">Email:</span> 
        <span class="">@Model.Email<span/>
    </p>
    <p>
        <span class="label">GitHub URL:</span> 
        <a href="@Model.GithubURL" target="_blank">@Model.GithubURL</a>
    </p>
</div>

<!-- My Cheeps -->
<h3 class="toggle" onclick="toggleSection('myCheeps')">
    My Cheeps: <span id="myCheepsIcon">&#9650;</span>
</h3>
<div class="" id="myCheeps">
    <partial name="Partials/_CheepContext" model="Model"/>
    <partial name="Partials/_Pagination" model="Model"/>
</div>

<hr/>

<!-- Followers -->
<partial name="Partials/_FollowersTracker" model="Model"/>

<hr/>


<!-- Download My Data -->
<h3 class="toggle" onclick="toggleSection('downloadData')">
    Download Your Data <span id="downloadDataIcon">&#9650;</span>
</h3>
<div class="" id="downloadData">
    <p>Your privacy is important to us, and this feature is designed to empower you with control over your information. </p>
    <div class="end">
        <form method="post">
            <button type="submit" class="seed-btn" asp-page-handler="DownloadData">Download Data</button>
        </form>
    </div>
</div>


<hr/>

<!-- Forget Me -->
<h3 class="toggle" onclick="toggleSection('forgetMe')">
    Delete account <span id="forgetMeIcon">&#9650;</span>
</h3>
<div class="" id="forgetMe">
    @* TODO - change description based on the DELETION implementation *@
    <p>If you wish to part ways with Chirp!, click the button below to (permanently) delete your account. </p>
    <p style="color: red">- Describe what happens when the account is deleted (deleted data, updated to anonymous, ...) </p>

    <div class="end">
        <button class="unseed-btn">Forget Me</button>
    </div>
</div>

 <script src="/js/menuToggle.js"></script>