@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="message-list" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p id="cheep-content">
                        <strong>
                            <a id="author" href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
        // The following pagination has been made with the help of CHAT-GPT
        /*<ul class="pagination">
            @for (var i = 1; i <= Math.Ceiling(Model.Cheeps.Count / (double)Model.MaxCheepsPerPage); i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>*/
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
