@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");

    int totalPageCount = Model.GetTotalPages(routeName?.ToString() ?? "default");
    int currentPage = Model.CurrentPage;
    int displayRange = 5;
    int halfRange = displayRange / 2;
    int startPage = Math.Max(1, currentPage - halfRange);
    int endPage = Math.Min(totalPageCount, startPage + displayRange - 1); 

    if (endPage - startPage + 1 < displayRange) {
        if (startPage > 1) {
            startPage = Math.Max(1, endPage - displayRange + 1);
        } else if (endPage < totalPageCount) {
            endPage = Math.Min(totalPageCount, startPage + displayRange - 1);
        }
    }        
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="message-list" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                @* <li>
                    <p id="cheep-content">
                        <strong>
                            <a id="author" href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li> *@
                <li>
                    <div class="cheep-container">
                        <div class="left-content">
                            <p id="cheep-content">
                                <strong>
                                    <a id="author" href="/@cheep.AuthorName">@cheep.AuthorName</a>
                                </strong>
                            </p>
                            <p id="cheep-content">
                                <small>@cheep.TimeStamp</small>
                            </p>
                        </div>
                        <div class="right-content">
                            <p id="cheep-content">
                                @cheep.Message
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>

        <ul class="pagination">
            @if (currentPage > 1)
            {
                <li class="page-item prev-button">
                    <a class="page-link" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                </li>
                <li class="page-item prev-button">
                    <a class="page-link" href="?page=@(currentPage - 1)"><i class="fas fa-angle-left"></i></a>
                </li>
            }

            @if (startPage > 1)
            {
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
            }

            @for (var i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link page-number" href="?page=@i">@i</a>
                </li>
            }

            @if (endPage < totalPageCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            }

            @if (currentPage < totalPageCount)
            {
                <li class="page-item next-button">
                    <a class="page-link" href="?page=@(currentPage + 1)"><i class="fas fa-angle-right"></i></a>
                <li class="page-item next-button">
                    <a class="page-link" href="?page=@totalPageCount"><i class="fas fa-angle-double-right"></i></a>
                </li>
                </li>
            }
        </ul>

    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
