<ul id="message-list" class="cheeps">
    @foreach (var cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-container @(cheep.UserName == "PhiVaLo" || cheep.UserName == "Tien197" ? "admin-glow" : "glow")">
                @* User Avatar *@
                <div class="avatar-container">
                    <img class="avatar @(cheep.UserName == "PhiVaLo" || cheep.UserName == "Tien197" ? "admin-glow" : "")" 
                    src="https://avatars.githubusercontent.com/@(cheep.UserName)" alt="Icon1" />
                </div>

                @* Cheep Context *@
                <div class="left-content">
                    <p id="cheep-content">
                        <strong>
                            <a id="author" href="/@cheep.UserName">@cheep.UserName</a>
                        </strong>
                    </p>
                    <p id="cheep-content">
                        <small class="date">@DateTime.ParseExact(cheep.TimeStamp, "MM/dd/yyyy HH:mm:ss", null).ToString("MM/dd/yyyy")</small><br>
                        <small class="time">@DateTime.ParseExact(cheep.TimeStamp, "MM/dd/yyyy HH:mm:ss", null).ToString("HH:mm:ss")</small>                        
                    </p>
                </div>
                <div class="right-content">
                    <p id="cheep-content" class="cheep-message">
                        @cheep.Message
                    </p>
                </div>

                <div class="overlay-2"></div>

            </div>

            @* Reactions *@
            <div class="reactions-container">

                @* Follower *@
                @if (User.Identity?.IsAuthenticated == true && cheep.UserName != User.Identity.Name)
                {
                    <div>
                        <form method="post" asp-page-handler="Follow" asp-route-UserName="@cheep.UserName" asp-route-followerName="@User.Identity?.Name">
                            @if (Model.FollowStatus.TryGetValue(cheep.UserName, out bool isFollowing) && isFollowing)
                            {
                                <button class="follow-btn unfollow" type="submit">Unfollow</button>
                            }
                            else
                            {
                                <button class="follow-btn follow" type="submit">Follow</button>
                            }
                        </form>
                    </div>
                }
                else
                {
                    <div></div>
                }
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <div class="reactions-right-container">
                        
                        @* Comments *@
                        <div class="reaction-item unimplemented">
                            <button class="reaction-btn unimplemented" title="Reply">
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <span class="reaction-count">0</span>
                        </div>
                        
                        @* Likes *@
                        <div class="reaction-item">
                            <form method="post" asp-page-handler="LikeCheep" asp-route-cheepID="@cheep.Id" asp-route-userName="@User.Identity?.Name">
                                <button class="reaction-btn likes-btn" title="Like">
                                    @if (await Model.HasUserLikedCheep(cheep.Id, User.Identity?.Name))
                                    {
                                        <i class="fa-regular fa-heart grey fa-solid red"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-heart grey"></i>
                                    }
                                    @* <i class="fa-regular fa-heart grey @((await Model.HasUserLikedCheep(cheep.Id, User.Identity?.Name)) ? "admin-glow" : "")"></i> *@
                                </button>
                                <span class="reaction-count">@await Model.GetLikeCount(cheep.Id)</span>
                            </form>
                        </div>
                        
                    </div>
                }
            </div>
        </li>
    }
</ul>

<script src="/js/cheepContext.js"></script>