<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ! icons -->
    <script src="https://kit.fontawesome.com/6797ef01ad.js" crossorigin="anonymous"></script>

    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/style2.css" rel="stylesheet" type="text/css" />
    <link href="/css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="/css/textbox.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>

<body>

<nav class="navbar">
    <partial name="_LoginPartial"/>
</nav>

    @*! temporary code until login is implemented *@
    <nav class="navbar">
            <div>
                <a class='@(Context.Request.Path == "/" ? "active" : "")' href="/">Home</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Privacy</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Profile</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Claims</a>
            </div>
            <div>
                @* <span>Hello @User</a></span> *@
                <span>Hello  <span class="username">&lt;username&gt;!</span></span>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a>
            </div>
    </nav>


    <div class=page>
        <a href="/">
            <h1><img src="/images/icon1.png" alt="Icon1" />Chirp!</h1>
        </a>

        <div class=body>
            @RenderBody()
        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>

</body>
</html>