@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div>
                <a class='@(Context.Request.Path == "/" ? "active" : "")' href="/">Home</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Privacy</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Chirp!</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Profile</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Claims</a>
            </div>
            <div>
                @* <span>Hello @User</a></span> *@
                <span>Hello <span class="username">&lt;username&gt;</span></span>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a>
            </div>
}
else
{
    <div>
                <a class='@(Context.Request.Path == "/" ? "active" : "")' href="/">Home</a>
                <a class='@(Context.Request.Path == "/#" ? "active" : "")' href="#">Privacy</a>
            </div>
            <div>
                <a class="" href="https://github.com/login/oauth/authorize?client_id=392087beb9582431dd6a"><i class="fab fa-github"></i> Sign in</a>
            </div>
}
</ul>
